.loginContainer {
  display: flex;
  flex-direction: row;
}
.userHolder {
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  border-right: 3px solid #27861e;
  max-width: 30%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 1px 2px 27px -7px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 1px 2px 27px -7px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 2px 27px -7px rgba(0, 0, 0, 1);
}
.userHolder ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.userHolder ul li {
  margin: 30px 0;
  text-align: center;
}

.loginHolder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoAndUsers{
  display: flex;
  flex-direction: column;
}

.logoName{
  padding: 15px;
  text-align: center;
}

.logoName svg{
  max-width: 200px;
  width: 100%;
}

.logoName h1{
  position: relative;
  color: #fff;
}

.logoName h1 span:first-child{
  color: #006df0;
}

.logoName h1 span:last-child{
  color: #ee583b;
}

.logoName h1::before{
  content: '';
  background-image: url('../../assets/img/barber-pole.png');
  position: absolute;
    max-width: 70px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
    left: -60px;
    top: -15px;
}