.TableStyle {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  color: white;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  height: fit-content;
  position: relative;
  width: 100%;
}

.TableStyle thead tr {
  background-color: #0000007e;
  color: #ffffff;
  text-align: left;
  font-size: 12px;
}

.TableStyle th,
.TableStyle td {
  padding: 12px 15px;
}

.TableStyle tbody tr {
  /* border-bottom: 1px solid #00000034; */
}
.TableStyle tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2.3px);
}

.TableStyle tbody tr:last-of-type {
  /* border-bottom: 2px solid #00000013; */
}

.TableStyle tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.53);
  backdrop-filter: blur(2.3px);

}

.buttonsMutation {
  width: 20px;
  aspect-ratio: 1 / 1;
  background-color: gray;
  display: flex;
}



.buttonsMutation .delete {
}

.buttonMutationContainet {
  display: flex;
  gap: 3px;
}

.buttonsMutation .edit {
}
