.TableStyle {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  height: fit-content;
  position: relative;
  width: 100%;
}

.TableStyle thead tr {
  background-color: #007bff;
  color: #ffffff;
  text-align: left;
  font-size: 12px;
}

.TableStyle th,
.TableStyle td {
  padding: 12px 15px;
}

.TableStyle tbody tr {
  border-bottom: 1px solid #dddddd;
}
.TableStyle tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.TableStyle tbody tr:last-of-type {
  border-bottom: 2px solid #007bff;
}

.TableStyle tbody tr:nth-of-type(odd) {
  background-color: #f3f3f3f1;
}

.buttonsMutation {
  width: 20px;
  aspect-ratio: 1 / 1;
  background-color: gray;
  display: flex;
}



.buttonsMutation .delete {
}

.buttonMutationContainet {
  display: flex;
  gap: 3px;
}

.buttonsMutation .edit {
}
