.sidebarContainer {
  max-width: 300px;
  height: 100vh;
  background-color: #0000001a;
  padding: 10px;
  backdrop-filter: blur(10px);
}
.sidbarButton {
  background-color: rgb(2, 104, 2);
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
  display: flex;
}
.sidbarButton .sidebarIcon {
  background-color: black;
  height: 100%;
  aspect-ratio: 1/1;
}

.sidbarButton .sidebarName {
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
  color: white;
}

.profileContainer {
  height: 120px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileContainer .profileUserContent {
  margin-left: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileContainer .profileIcon {
  background-color: black;
  height: 100%;
  aspect-ratio: 1/1;
}
.profileContainer .profileUsername {
  color: white;
}

.logOutButton {
  background-color: red;
  color: white;
  width: 100%;
  font-size: 23px;
  border: none;
  border-radius: 15px;
  padding: 10px;
  font-weight: bold;
}
